<!DOCTYPE html>
<html>
<head>
	<!-- 禁止用户缩放 -->
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="Content-Type" content="text/html; Charset=utf-8"/>

	<title>Test Map</title>

	<style type="text/css">
		html{height: 100%}
		body{height: 100%; margin: 0px; padding: 0px}
		#container{height:100%}
		
		.anchorBL{display:none}
	</style>
	
	<script type="text/javascript" src="js/test.js"></script>
</head>
<body>

	<div id="container">Test</div>
	
</body>
</html>